@import "src/styles/typography";
@import "src/styles/colors";

.input {
  width: 100%;
  height: 60px;

  .label {
    font-family: map-get($p3-desktop, 'font-family');
    font-style: map-get($p3-desktop, 'font-style');
    font-weight: map-get($p3-desktop, 'font-weight');
    font-size: map-get($p3-desktop, 'font-size');
    line-height: map-get($p3-desktop, 'line-height');
    letter-spacing: map-get($p3-desktop, 'letter-spacing');
    text-transform: map-get($p3-desktop, 'text-transform');
    color: $white;

    @media screen and (max-width: 767px) {
      font-family: map-get($p3-mobile, 'font-family');
      font-style: map-get($p3-mobile, 'font-style');
      font-weight: map-get($p3-mobile, 'font-weight');
      font-size: map-get($p3-mobile, 'font-size');
      line-height: map-get($p3-mobile, 'line-height');
      letter-spacing: map-get($p3-mobile, 'letter-spacing');
      text-transform: map-get($p3-mobile, 'text-transform');
    }
  }

  .inputContainer {
    border-bottom: 1px solid $white;
    transition: 0.3s all;

    &:active, &:hover, &:focus {
      border-bottom: 1px solid $greener;
    }

    .inputField {
      width: 100%;
      border: none;
      background: none;
      outline: none;
      padding: 0;

      font-family: map-get($p2-desktop, 'font-family');
      font-style: map-get($p2-desktop, 'font-style');
      font-weight: map-get($p2-desktop, 'font-weight');
      font-size: map-get($p2-desktop, 'font-size');
      line-height: map-get($p2-desktop, 'line-height');
      letter-spacing: map-get($p2-desktop, 'letter-spacing');
      text-transform: map-get($p2-desktop, 'text-transform');
      color: $white;

      @media screen and (max-width: 767px) {
        font-family: map-get($p2-mobile, 'font-family');
        font-style: map-get($p2-mobile, 'font-style');
        font-weight: map-get($p2-mobile, 'font-weight');
        font-size: map-get($p2-mobile, 'font-size');
        line-height: map-get($p2-mobile, 'line-height');
        letter-spacing: map-get($p2-mobile, 'letter-spacing');
        text-transform: map-get($p2-mobile, 'text-transform');
      }

      &::placeholder {
        color: $grey;
      }
    }

    .password {
      display: flex;

      .eye {

      }
    }
  }

  .inputError {
    font-family: map-get($p4-desktop, 'font-family');
    font-style: map-get($p4-desktop, 'font-style');
    font-weight: map-get($p4-desktop, 'font-weight');
    font-size: map-get($p4-desktop, 'font-size');
    line-height: map-get($p4-desktop, 'line-height');
    letter-spacing: map-get($p4-desktop, 'letter-spacing');
    text-transform: map-get($p4-desktop, 'text-transform');
    color: $red;
    margin: 4px 0 0;

    @media screen and (max-width: 767px) {
      font-family: map-get($p4-mobile, 'font-family');
      font-style: map-get($p4-mobile, 'font-style');
      font-weight: map-get($p4-mobile, 'font-weight');
      font-size: map-get($p4-mobile, 'font-size');
      line-height: map-get($p4-mobile, 'line-height');
      letter-spacing: map-get($p4-mobile, 'letter-spacing');
      text-transform: map-get($p4-mobile, 'text-transform');
    }
  }
}